// bg
$main_bg_color: #F7EFD9;
$secondary_bg_color: #005574;

// text
$main_text_color: #00455f;
$secondary_text_color: #00A5B0;

// content
$main_content_color: #006b89;
$secondary_content_color: #00a3ad;
$third_content_color: #F8C538;
