@import '../../styles/color.scss';
@import '../../styles/font.scss';

.container {
  width: 100%;
  height: 100%;
  background-color: $secondary_bg_color;
  padding-right: 16px;
}

.content {
  width: 100%;
  height: 100%;
  background-color: $main_bg_color;
}

.name {
  height: 250px;
}

.nav {
  margin-left: 32px;
  .nav_item {
    margin-top: 36px;

    div {
      display: inline;
      font-size: $p-secondary-size;
      font-weight: bold;
      color: $secondary_text_color;
      border-bottom: 3px solid $main_bg_color;
      opacity: 0.5;
    }

    &.select{
      div {
        border-bottom: 3px solid $secondary_text_color;
        opacity: 1;
      }
    }

    &:hover {
      div {
        opacity: 1;
      }
    }
  }
}
