@import '../../styles/color.scss';
@import '../../styles/font.scss';

.container {
  width: 100%;
  height: 100%;
}

.carouselBox {
  position: relative;
  overflow: hidden;

  .carouselItem {
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 0;

    &.noMove {
      opacity: 1;
      z-index: 1;
      left: 0;
    }

    &.RtoM {
      opacity: 1;
      z-index: 1;
      animation: RtoM 1s ease-in-out forwards;

      @keyframes RtoM {
        from {
          left: 100%;
        }
        to {
          left: 0;
        }
      }
    }

    &.LtoM {
      opacity: 1;
      z-index: 1;
      animation: LtoM 1s ease-in-out forwards;

      @keyframes LtoM {
        from {
          left: -100%;
        }
        to {
          left: 0;
        }
      }
    }

    &.MtoL {
      opacity: 1;
      z-index: 1;
      animation: MtoL 1s ease-in-out forwards;

      @keyframes MtoL {
        from {
          left: 0;
        }
        to {
          left: -100%;
        }
      }
    }

    &.MtoR {
      opacity: 1;
      z-index: 1;
      animation: MtoR 1s ease-in-out forwards;

      @keyframes MtoR {
        from {
          left: 0;
        }
        to {
          left: 100%;
        }
      }
    }
  }
}

.pictureBox {
  width: 100%;
  aspect-ratio: 16/9;

  .pictureContent {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 16px;
  }
}

.carouselIndicators {
  width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: center;

  .circle {
    width: 16px;
    height: 16px;
    margin: 0 3px;
    border-radius: 50%;
    border: 1.5px solid $secondary_bg_color;
    background-color: $third_content_color;

    &.select {
      background-color: #f7a139;
    }
  }
}

.captionBox {
  width: 100%;
  height: 28px;

  .captionContent {
    width: 100%;
    padding: 0 32px;
    display: flex;

    .captionTitle {
      margin-right: 16px;

      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      color: $secondary_bg_color;
    }

    .captionbtn {
      border: none;
      background-color: $secondary_bg_color;
      padding: 4px 22px;

      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $main_bg_color;
    }
  }
}

.infoBox {
  width: 100%;
  margin-top: 12px;
  padding: 0 32px;

  overflow: hidden;
  transition: height 160ms linear;

  .captionInfo {
    border: 1.5px solid $main_content_color;
    border-radius: 10px;
    padding: 12px 16px;

    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: $secondary_bg_color;
  }
}

.videoBox {
  width: 100%;
  padding-top: 36px;

  .videoContent {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 16px;
  }

  .videoCaption {
    padding: 16px 28px;

    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    color: $secondary_bg_color;
  }
}
